/* Home Container */
.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}

/* Image Section */
.image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.event-image {
    width: 100%;
    /* La imagen ocupará todo el ancho disponible */
    height: auto;
    /* Mantiene la proporción de la imagen */
    object-fit: cover;
    /* Asegura que la imagen se ajuste sin deformarse */
}

/* Notification Section */
.notification-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.notification-title {
    font-family: "Fixel Text", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.notification-message {
    font-size: 1.2rem;
    color: #fff;
}


@media (max-width: 768px) {
    .event-image {
        height: 200px;
    }
}

/* BusForm Section */
.divider {
    width: 100%;
    text-align: center;
}

.divider-text {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #444;
    margin-top: 50px;
}

.divider-line {
    width: 50%;
    height: 2px;
    background-color: #ccc;
    margin: 0px auto;
    border-radius: 2px;
}

.divider-link {
    display: inline-block;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 16px;
    transition: all 0.3s ease;
}

.divider-link:hover {
    background-color: #000;
    color: #fff;
}