/* Home Container */
.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

/* Image Section */
.image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.event-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

/* Countdown Section */
.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.countdown-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.countdown-timer {
    display: flex;
    gap: 20px;
}

/* Countdown Timer */
.time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.time-number {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 25px;
}

.time-divider {
    width: 30px;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.time-label {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #555;
}

.time-divider {
    width: 30px;
    height: 2px;
    background-color: #3333333a;
    margin: 5px 0;
    border-radius: 1px;
}

/* Notification Section */
.notification-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.notification-title {
    font-family: "Fixel Text", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.notification-message {
    font-size: 1.2rem;
    color: #fff;
}


@media (max-width: 768px) {
    .event-image {
        height: 200px;
    }
}

/* Divider Section */
.divider {
    width: 100%;
    text-align: center;
}

.divider-text {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #444;
    margin-top: 50px;
}

.divider-line {
    width: 50%;
    height: 2px;
    background-color: #ccc;
    margin: 10px auto;
    border-radius: 2px;
}

.divider-link {
    display: inline-block;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 16px;
    transition: all 0.3s ease;
}

.divider-link:hover {
    background-color: #000;
    color: #fff;
}