/* Home Container */
.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

/* Image Section */
.image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.event-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

/* Countdown Section */
.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.countdown-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.countdown-timer {
    display: flex;
    gap: 20px;
}

.time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-unit span {
    font-size: 2.5rem;
    font-weight: bold;
}

.time-unit p {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}

/* Notification Section */
.notification-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.notification-title {
    font-family: "Fixel Text", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.notification-message {
    font-size: 1.2rem;
    color: #fff;
}

.notification-button {
    font-family: "Fixel Text", sans-serif;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #000;
    background-color: #ffd700;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.notification-button:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px #ffd700;
}