/* ============================
   Estilos Globales
=============================== */

/* Fondo global para toda la web */
body {
    margin: 0;
    font-family: 'Fixel Text', sans-serif;
    padding-top: 70px;
    background: url('./assets/img/fondo.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    height: auto;
    background-attachment: fixed;
    color: #000;
}

html {
    min-height: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fixel Text', sans-serif;
    font-weight: 700;
    /* Bold por defecto */
    margin: 0;
    color: #000;
    /* Texto negro */
}

p {
    font-family: 'Fixel Text', sans-serif;
    font-weight: 400;
    /* Regular */
    margin: 0;
    color: #000;
    /* Texto negro */
}

button {
    font-family: 'Fixel Text', sans-serif;
    font-weight: 500;
    /* Medium */
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0097a7;
}

a {
    text-decoration: none;
    color: #000;
    /* Texto negro */
    font-weight: 400;
    /* Regular */
}

a:hover {
    color: #00bcd4;
}